@use "../../../../assets/styles/GlobalStyle" as global;


.AreaChartComp {
    height: 450px;
    width: global.$fullWidth;
    margin-bottom: 20px;
    padding: 50px 10px 20px 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
};