@use "../../../../assets/styles/GlobalStyle" as global;

.TableComp {
    margin-top: 35px;

    .table__wrapper {
        margin-top: 10px;

        .table-pagination__wrapper {
            height: auto;
            width: global.$fullHeight;
            font-size: global.$fontSize;
            padding: 7px 5px;

            display: flex;
            align-items: center;
            justify-content: flex-end;

            span {
                margin-right: 10px;
            };

            .table-pagination__buttons {
                height: 40px;
                width: 40px;
                border: none;
                border-radius: 50%;
                cursor: pointer;
                padding: 10px;
                margin-left: 5px;
            };
        };
    };
};